<h1>{{title}}</h1>
<!-- <nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages> -->

<!-- <div style="text-align:center">
  <div>  
      <input type="file" accept="image/*" capture="camera">  
      <input type="file" accept="video/*" capture="camcorder">  
      <input type="file" accept="audio/*" capture="microphone">  
  </div>  
	<div *ngIf="msg" style="color: red;">{{msg}}</div>
  
  <div *ngFor="let url of urls">
    <img [src]="url" *ngIf="url" width="10%"/>
  </div>
	<p>
		<input type="file" (change)="selectFile($event)">
	</p>
</div> -->

<app-hero-form></app-hero-form>